build.fsx.lock
.config/
.fake/
.ionide/
.vs/
.vscode/
common/
kubernetes/
packages/
packaging/
paket-files/
services/
workbench/
workers/
.dockerignore
.gitignore
appveyor.yml
build.fsx
buildfsx.lock
functions.sh
hobbes.sln
installatin.md
README.md
