build.fsx.lock
.config/
.fake/
.ionide/
.vs/
.vscode/
common/
kubernetes/
packages/
packaging/
paket-files/
services/collectors/
services/hobbes.calculator/
services/hobbes.configurations/
services/hobbes.qtest/
services/hobbes.server/
services/hobbes.uniformdata/
workbench/
.dockerignore
appveyor.yml
build.fsx
buildfsx.lock
functions.sh
hobbes.sln
installatin.md
README.md
