build.fsx.lock
.fake/
.ionide/
.vs/
obj/
bin/
Debug/
Release/
packages/
packaging/
paket-files/
deploy/
hobbes.server/db/data
hobbes.server/collector/db/data
docker-compose.prod.yml
*.user
workbench.json
**/db/data
**/AssemblyInfo.fs
hobbes.server/db/data1/
