[submodule "services/calvin"]
	path = services/calvin
	url = https://github.com/r-d-kmd/calvin.git
[submodule "libs/hobbes.web"]
	path = libs/hobbes.web
	url = https://github.com/r-d-kmd/hobbes.web.git
[submodule "libs/hobbes.core"]
	path = libs/hobbes.core
	url = https://github.com/r-d-kmd/hobbes.core.git
[submodule "services/configurations"]
	path = services/configurations
	url = https://github.com/r-d-kmd/hobbes.configurations.git
[submodule "services/uniformdata"]
	path = services/uniformdata
	url = https://github.com/r-d-kmd/hobbes.uniformdata.git
[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/r-d-kmd/hobbes.gateway.git
