obj/
build.fsx.lock
*.lock
.fake/
bin/
Debug/
packages/
tests/.vs/
.ionide/
packaging/
lab/paket.exe
*.csv
lab/cookies.json
lab/results/*.csv.json
lab/data/
lab/results/
lab/CookieReader/Arguments.fs
lab/CookieReader/AssemblyInfo.fs
lab/CookieReader/Chrome.fs
lab/CookieReader/CookieReader.fsproj
lab/CookieReader/Dockerfile
lab/CookieReader/Program.fs
lab/CookieReader/Properties/launchSettings.json
deploy/
hobbes.server/db/data
docker-compose.prod.yml