[submodule "services/calvin"]
	path = services/calvin
	url = https://github.com/r-d-kmd/calvin.git
[submodule "services/configurations"]
	path = services/configurations
	url = https://github.com/r-d-kmd/hobbes.configurations.git
[submodule "services/uniformdata"]
	path = services/uniformdata
	url = https://github.com/r-d-kmd/hobbes.uniformdata.git
[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/r-d-kmd/hobbes.gateway.git
[submodule "workers/azuredevops.worker"]
	path = workers/azuredevops.worker
	url = https://github.com/r-d-kmd/hobbes.azuredevops.worker.git
[submodule "workers/git.worker"]
	path = workers/git.worker
	url = https://github.com/r-d-kmd/hobbes.git.worker.git
