version 5.245.1
source https://www.nuget.org/api/v2
framework: auto-detect
storage: none

nuget FSharp.Core
nuget Newtonsoft.Json

group workbench
    source https://www.nuget.org/api/v2 
    framework: auto-detect
    storage: none
    
    nuget Argu

group core
    source https://www.nuget.org/api/v2 
    framework: auto-detect
    storage: none

    nuget Accord.MachineLearning
    nuget Deedle
    nuget FParsec ~> 1.1

group collectors
    source https://www.nuget.org/api/v2 
    framework: auto-detect
    storage: none

    nuget RabbitMQ.Client

group web
    source https://www.nuget.org/api/v2 
    framework: auto-detect
    storage: none

    nuget Saturn = 0.13.1
    nuget Giraffe
    nuget FSharp.Data
    nuget Microsoft.Extensions.PlatformAbstractions

group test
    source https://www.nuget.org/api/v2
    framework: auto-detect
    storage: none
    
    nuget FsUnit
    nuget FsUnit.xUnit
    nuget xUnit
    nuget Microsoft.NET.Test.SDK
    nuget microsoft.testplatform.testhost
    nuget xunit.runner.VisualStudio  

group tutorial
    source https://www.nuget.org/api/v2
    framework: auto-detect
    storage: none
    nuget FSharp.Formatting