version 5.244.0
source https://www.nuget.org/api/v2
framework: auto-detect
storage: none

nuget FSharp.Core
nuget Newtonsoft.Json
nuget Thoth.Json.Net

group workbench
    source https://www.nuget.org/api/v2 
    framework: auto-detect
    storage: none
    
    nuget Argu

group core
    source https://www.nuget.org/api/v2 
    framework: auto-detect
    storage: none

    nuget Accord.MachineLearning
    nuget Deedle
    nuget FParsec

group collectors
    source https://www.nuget.org/api/v2 
    framework: auto-detect
    storage: none

    nuget RabbitMQ.Client

group web
    source https://www.nuget.org/api/v2 
    framework: auto-detect
    storage: none

    nuget Saturn = 0.13.1
    nuget Giraffe
    nuget FSharp.Data
    nuget Microsoft.Extensions.PlatformAbstractions

group test
    source https://www.nuget.org/api/v2
    framework: auto-detect
    storage: none
    
    nuget FsUnit
    nuget FsUnit.xUnit
    nuget xUnit
    nuget Microsoft.NET.Test.SDK
    nuget microsoft.testplatform.testhost
    nuget xunit.runner.VisualStudio  

group tutorial
    source https://www.nuget.org/api/v2
    framework: auto-detect
    storage: none
    nuget FSharp.Formatting

group visualizer
    source https://www.nuget.org/api/v2
    framework: auto-detect
    storage: packages

    # FSharp.Data
    nuget FSharp.Data 

    # MathNet.Numerics
    nuget MathNet.Numerics 
    nuget MathNet.Numerics.FSharp 

    # XPlot
    nuget XPlot.Plotly 
    nuget XPlot.GoogleCharts 
    nuget XPlot.GoogleCharts.Deedle 
    nuget Newtonsoft.Json 
    
    #should be same version as core but as long as this is a script we need to store them
    nuget FParsec
    nuget Deedle
    nuget Accord.MachineLearning